.reply_content {
  position: relative;
}

.reply_content .reply_box {
  width: 100%;
  height: auto;
  background-color: #f0f8ff;
  padding: 10px 15px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.reply_content .reply_box p {
  margin: 0 0;
  color: dimgray;
}

.reply_content .reply_box p:not(:last-child) {
  margin-bottom: 6px;
}