.reply_content {
  position: relative;
}

.reply_content .reply_box {
  width: 100%;
  height: auto;
  background-color: cornsilk;
  padding: 3px 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.reply_content .reply_box p {
  margin: 0 0;
  color: dimgray;
}

.reply_content .reply_box p:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}